.talk-item {
  margin-bottom: 1em;
}
.teaching-list.no-bullets {
  list-style: none;
  padding-left: 0;
}
.teaching-list.no-bullets li {
  margin-bottom: 1.5em;
}
.teaching-subtitle {
  border: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  margin-top: 1em;

}
